<div class="card mb-6">
    <header class="card-header card-header-title post-info">

        <div class="column">
            <p class=" has-text-primary-light"></p>
            <p><a href="/post/{{id}}" class="default-text  is-capitalized is-pulled-left">{{title}} </a></p>
        </div>

        <div class="is-pulled-right default-text small">
            Posted by <b>{{user.username}}</b>
            on {{format_date created_at}}
        </div>

    </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>

    </div>
</div>